@page
@model SecurityTests.Pages.Hashing.PasswordHashingScryptModel

<div class="text-center">

	<h1 class="display-4">Password Hashing</h1>

	<div class="mt-5 mb-5">

		<form method="post" action="PasswordHashingScrypt?handler=Register">
			@Html.AntiForgeryToken()
			<div class="form-group">
				<label class="control-label" for="UserName">User name</label>
				<input type="text" id="UserName" name="UserName"
					   class="form-control" value="@Model.UserName" />
			</div>
			<div class="form-group">
				<label class="control-label" for="Password">Password</label>
				<input type="password" id="Password" name="Password"
					   class="form-control" value="@Model.Password" />
			</div>

			<div class="form-group">
				<input type="submit" asp-page-handler="Register" value="Register"
					   class="btn btn-primary" />
			</div>
		</form>

		<form method="post" action="PasswordHashingScrypt?handler=Login">
			@Html.AntiForgeryToken()
			<div class="form-group">
				<label class="control-label" for="UserName">User name</label>
				<input type="text" id="UserName" name="UserName"
					   class="form-control" value="@Model.UserName" />
			</div>
			<div class="form-group">
				<label class="control-label" for="Password">Password</label>
				<input type="password" id="Password" name="Password"
					   class="form-control" value="@Model.Password" />
			</div>
			<div class="form-group">
				<label class="control-label" for="HashToVerify">Hash to verify</label>
				<input type="text" id="HashToVerify" name="HashToVerify"
					   class="form-control" value="@Model.HashToVerify" />
			</div>
			<div class="form-group">
				<label class="control-label" for="SaltToVerify">Salt to verify</label>
				<input type="text" id="SaltToVerify" name="SaltToVerify"
					   class="form-control" value="@Model.SaltToVerify" />
			</div> <div class="form-group">
				<input type="submit" asp-page-handler="Login" value="Login"
					   class="btn btn-primary" />
			</div>
		</form>
	</div>

	<div class="mb-3">
		@Model?.Message
	</div>

</div>